@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    margin-top:0;
    font-weight:700;
    font-family: "Varela Round", sans-serif
}

body{
    font-family: "Varela Round", sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

.wy-nav-content {
    max-width: 100%;
}


.admonition, .note {
    border-color: #ffcd54 !important;
    background-color: #f5f5f5;
    color: black;
    padding: 17px 19px 16px 57px;
  	display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px;
    border-style: solid;
    margin-top: 18px;
    margin-bottom: 28px;
    position: relative;
    font-size: 14px;
    margin-left: 42px;
    min-height: 61px;
    line-height: 23px;
    text-align: left;
}

.note:before {
    content: " ";
    position: absolute;
    left: -43px;
    top: -8px;
    width: 80px;
    background-size: 82px;
    background-position-x: -1px;
    background-position-y: -1px;
    height: 80px;
    background-image: url('https://theme.zdassets.com/theme_assets/1137863/2729556f37811d945e9dd6755953cb12685b04bc.png');
    background-repeat: no-repeat;
    border: 2px solid #ffcd54;
    border-radius: 50px;
}