@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    margin-top:0;
    font-weight:700;
    font-family: "Varela Round", sans-serif
}

body{
    font-family: "Varela Round", sans-serif;
    font-weight: normal;
    color: #404040;
    min-height: 100%;
    overflow-x: hidden;
    background: #edf0f2;
}

.wy-nav-content {
    max-width: 100%;
}